body {
	width: 950px;
	height: auto;
	font-family: serif;
	color: #141716;
}

h1,h2,h3,h4,h5,h6 {
	font-size: 100%;
}
.h_right {
	position: relative;
	width: 950px;
	height: auto;
}
#gnav {
	position: absolute;
	top: -100px;
	left: 0px;
}
#gnav li {
	display: inline-block;
	padding: 16px;
}
#gnav a {
	text-decoration: none;
	color: #fdeac0;
}
#gnav a:hover {
	color: #fff;
}
#content {
	width: 950px;
}
.plan_check {
	position:fixed;
	left:772px;
	bottom:60px;
}
.room_check {
	position:fixed;
	left:869px;
	bottom:24px;
}
.plan_check a:hover,.room_check a:hover {
	opacity: 0.7;
}

#mainimg {
	position: relative;
}
#mainimg img {
	filter:brightness(50%);
}
#mainimg p {
	position: absolute;
	top: 160px;
	left: 268px;
	color: #fff4dc;
	font-size: 200%;
	letter-spacing: 10px;
	text-shadow: 0 0 10px rgba(0,0,0,5);
	z-index: 1;
}
#mainimg span {
	position: absolute;
	top: 56px;
	left: 149px;
	color: #fff;
	opacity: 0.7;
	font-size: 50%;
	letter-spacing: 0px;
	text-shadow: 0 0 10px rgba(0,0,0,1);
}
#last_area #bnr_area {
	clear: left;
	text-align: center;
	margin-top: 56px;
	padding-bottom: 0;
}
#footer {
	background-image: url(img/f_bg.png);
	width: 100%;
	height: 350px;
	color: #fff;
}
.innr {
	padding-top: 140px;
}
.f_ad {
	margin: 0 24px;
	display: inline-block;
	font-size: 90%;
}
#f_navi {
	position: relative;
}
#f_navi li {
	display: inline;
}
#f_navi a {
	color: #fff;
	padding-right: 16px;
	font-size: 70%;
	text-decoration: none;
}
#f_navi a:hover {
	text-decoration: underline;
	opacity: 0.7;
}
.f_btn_top {
	position: absolute;
	top: 48px;
	right: 140px;
	color: #fff4dc;
	font-size: 70%;

}
#sec0 {
	margin: 40px auto;
	text-align: center;
}
#sec0 .main_text {
	text-align: center;
	margin-top: 0;
}
#sec0 .main_text .txt_title {
	letter-spacing: 8px;
	font-size: 200%;
	border-bottom: solid 1px #cc9f3f;
	padding-bottom: 16px ;
	margin:40px 160px 0 160px;
}
#sec0 .main_text .txt_min {
	font-size: 80%;
}

 .slide {
	 float: right;
	 position: relative;
	overflow   : hidden;
	width      : 600px;
	height     : 400px;
	margin     : 0;
	z-index: -1;
      }
.slide img {
	display    : block;
	position   : absolute;
	width      : inherit;
	height     : inherit;
	opacity    : 0;
	animation  : slideAnime 36s ease infinite;
}       
.slide img:nth-of-type(1) { animation-delay: 0s }
.slide img:nth-of-type(2) { animation-delay: 6s }
.slide img:nth-of-type(3) { animation-delay: 12s }
.slide img:nth-of-type(4) { animation-delay: 18s }
.slide img:nth-of-type(5) { animation-delay: 24s }
.slide img:nth-of-type(6) { animation-delay: 30s }
@keyframes slideAnime{
	 0% { opacity: 0 }
	 8% { opacity: 1 }
	16% { opacity: 1 }
	24% { opacity: 0 }
       100% { opacity: 0 }
      }
#stage .fp_1 img {
	position: absolute;
	top: 200px;
	left: 0;
}
#stage .fp_2 img {
	position: absolute;
	top: 200px;
	left: 0;
}
.sli_txt {
	text-align: center;
}
#stage h3 img {
	position: absolute;
	top: 632px;
	left: 124px;
}
#stage .img02 {
	margin-top: 200px;
	margin-left: 32px;
}
#stage2 h3 img {
	position: absolute;
	top: 2232px;
	left: 122px;
}
.b_txt {
	padding-top: 280px;
	margin: 0 32px;
}
.sli_foot {
	background-image: url(https://rakuten.yado-riki.com/kiyoto/raku_new/hanatsumi/img/sec1_bg.jpg);
	font-size: 80%;
	padding-top: 24px;
	margin:0 80px ;
}
#access{
	display: flex;
	background:
	radial-gradient(circle at top left, transparent 50%, #999 50%, #999 calc(50% + 2px), transparent calc(50% + 2px)),
	radial-gradient(circle at top right, transparent 50%, #999 50%, #999 calc(50% + 2px), transparent calc(50% + 2px)),
	radial-gradient(circle at bottom left, transparent 50%, #999 50%, #999 calc(50% + 2px), transparent calc(50% + 2px)),
	radial-gradient(circle at bottom right, transparent 50%, #999 50%, #999 calc(50% + 2px), transparent calc(50% + 2px)),
	linear-gradient(90deg, #999 2px, #fff 2px, #fff calc(100% - 2px), #999 calc(100% - 2px)),
	linear-gradient(180deg, #999 2px, #fff 2px, #fff calc(100% - 2px), #999 calc(100% - 2px));
	background-position: top left, top right, bottom left, bottom right, left 15px, 15px top;
	background-size: 20px 20px, 20px 20px,20px 20px,20px 20px, 100% calc(100% - 30px), calc(100% - 30px) 100%;
	background-repeat: no-repeat;
	margin:2em auto;
	padding: 30px 10px;
	width: 720px;
	height: auto;
	line-height:150%;
	font-size: 80%;
}
.hanabishi{
	-webkit-writing-mode: vertical-rl;
	-ms-writing-mode: tb-rl;
	writing-mode: vertical-rl;
	font-weight: bold;
	margin:auto 56px;
}
.hanabishi:before{
	content:' ';
	display:inline-block;
	width:50px;
	height:40px;
	background-image: radial-gradient(#990004 25%, transparent 0),
	  radial-gradient(#990004 25%, transparent 0),
	  radial-gradient(90004 25%, transparent 0),
	  radial-gradient(#990004 25%, transparent 0);
	background-position: 50% 80%, 50% 30%, 0% 80%, 100% 80%;
	background-size: 15px 15px, 30px 25px, 30px 25px, 30px 25px;
	background-repeat:no-repeat;
}



.btn_border {
	display: inline-block;
	max-width: 180px;
	border: 2px solid transparent;
	background-color: #867143;
	border-color: #867143;
	color: #FFF;
	text-decoration: none;
	font-size: 90%;
	margin: 27px;
	padding: 8px 16px;
	border-radius: 4px;
	transition: .4s;
      }
      
.btn_border:hover {
	border: 1px solid #cc9f3f;
	background: transparent;
	color: #cc9f3f;
      }

